@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap&family=Nanum+Gothic&display=swap");

body {
    background-color:rgba(0, 0, 0, 0.894);
    /* background-image: url(background.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar {
    margin-bottom: 100px;
}

.navbarC {
    margin: 0;
}

.nav_logo {
    font-family: "Anta", sans-serif;
    color: rgb(226, 0, 0);
    font-size: 30px;
    margin-left: 20px;
}

.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nanum Gothic", sans-serif;
}

.Home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nanum Gothic", sans-serif;
}

.login_logo {
    font-family: "Anta", sans-serif;
    color: rgb(226, 0, 0);
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 50px;
}

.login_box {
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    font-size: 20px;
    border-radius: 20px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.login_btn {
    font-family: "Nanum Gothic", sans-serif;
    width: 100%;
    color: white;
    background-color:  rgb(226, 0, 0);
}

.login_btn:hover {
    cursor: pointer;
}

.predict_btn {
    font-family: "Nanum Gothic", sans-serif;
    width: 100%;
    color: white;
    background-color:  rgb(226, 0, 0);
}

.Home-header td {
    padding: 5px;
    font-size: 20px;
}

.Home-header input {
    margin: 10px;
    width: 100%;
}

.dropdownStyle {
    background-color: white;
    color: black;
    font-size: 15px;
}

.dropdownStyle:hover {
    background-color: rgb(226, 0, 0);
}

.dropdownScroll {
    height: 30vh;
    overflow-y:scroll;
}

.buttonStyle {
    border: none;
    background-color: white;
    color: black;
    font-size: 15px;
}

.buttonStyle:hover {
    background-color: rgb(226, 0, 0);
}

.dropdownReset {
    color: rgb(226, 0, 0);
}

.modalInput {
    border: 2px solid;
}

.modalBtn {
    padding: 5px;
}

.modalResetBtn {
    margin-left: 5px;
    background-color: rgb(226, 0, 0);
}

.selectActorBtn {
    margin: 5px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.table td {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
}

.saveBtn {
    background-color: rgb(226, 0, 0);
    border: none;
    align-items: end;
}

#myPageInput {
    width: 200px;
}

.pagination {
    align-content: center;
}